/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw ChIP-seq data in allele-specific manner to generate signal tracks and identify peaks.'
	mainScript = 'allelic_ChIP-seq.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.1'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/analysis_chip/sampleDescription.txt'
	chunkSize = 5000000
	G1 = 'C57BL-6J'
	G2 = 'CAST-EiJ'
	outDir = '/home/user/Documents/project_ChIP-seq'
	genomeDirPath = '/home/user/Documents/references/mm10/indexes/mm10_C57BL-6J_CAST-EiJ_masked'
	snpFile = '/home/user/Documents/references/mm10/SNPs_annotations/C57BL-6J_CAST-EiJ_SNPs_F1.txt.gz'
	blackList = '/home/user/Documents/references/mm10/mm10_blacklist_280617.bed'
	rsFrag = '/scratch/user/analysis_chip/plot_fragment_size_distribution.R'
	rsPeaks = '/scratch/user/analysis_chip/plot_peak_distribution_features.R'
	chrmSizes = '/home/user/Documents/references/mm10/mm10.chrSize.txt'
	tmpOutDir = '${TMPDIR}'
	numCPUs = 10
	numCPUs_Dtools = 20
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	memory = 20.GB
	time = 20.m
	cpus = 1

	withLabel: fastqQual {
		cpus = "${params.numCPUs}"
		time = 120.m
		memory = 3.GB
	}

	withLabel: fastq_splitting {
		memory = 1.GB
		time = 180.m
	}

	withLabel: filter_bams {
		cpus = "${params.numCPUs}"
		memory = 2.GB
		time = 15.m
	}

	withLabel: process_bams {
		memory = 30.GB
		time = 90.m
	}

	withLabel: scR {
		memory = 5.GB
		time = 15.m
	}

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: raw_pairs {
		time = 10.m
		memory = 1.GB
	}

	withName: trim_reads {
		memory = 1.GB
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 40.GB
		time = 30.m
	}

	withName: PCR_coeffs {
		cpus = "${params.numCPUs}"
		memory = 30.GB
		time = 120.m
	}

	withName: SNPsplit {
		memory = 10.GB
		time = 30.m
	}

	withName: filter_unassigned_bams {
		time = 150.m
		memory = 30.GB
	}

	withName: merge_mapped {
		memory = 30.GB
		time = 80.m
	}

	withName: allelic_reads {
		memory = 5.GB
		time = 30.m
	}

	withName: size_factors {
		memory = 500.MB
	}

	withName: signal_tracks {
		cpus = "${params.numCPUs_Dtools}"
		time = 50.m
		memory = 40.GB
	}

	withName: peaks_macs2 {
		memory = 10.GB
	}

	withName: norm_tracks {
		time = 60.m
		memory = 20.GB
	}

	withName: peak_signal {
		time = 40.m
		memory = 20.GB
	}

}


